.navbar {
  margin-bottom: 0;
  background-color: rgba(8, 8, 8, 0.8);
  border: none;
}
.navbar.navbar-default .navbar-nav > li > a, .navbar.navbar-default .navbar-header .navbar-brand {
  font-family: "Comfortaa", sans-serif;
  transition: color 0.5s ease-out;
  text-transform: uppercase;
  color: #fba;
}
.navbar.navbar-default .navbar-nav > li > a:hover, .navbar.navbar-default .navbar-header .navbar-brand:hover, .navbar.navbar-default .navbar-nav > li > a:focus, .navbar.navbar-default .navbar-header .navbar-brand:focus, .navbar.navbar-default .navbar-nav > li > a:active, .navbar.navbar-default .navbar-header .navbar-brand:active {
  color: #abf;
}
section {
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  background-attachment: fixed;
  overflow: hidden;
  width: 100%;
}
section .inside {
  padding-top: 100px;
  padding-bottom: 150px;
}
section.intro {
  background-color: #afb1c9;
  background-image: url(bck.jpg);
}
section.intro h2 {
  font-family: "Pacifico", cursive;
  font-size: 50px;
  font-weight: 400;
  color: #493652;
  margin-top: 80px;
  margin-bottom: 15px;
}
@media (min-width: 768px) {
  section.intro h2 {
    font-size: 50px;
  }
}
section.intro h3 {
  font-family: 'Permanent Marker', cursive;
  font-weight: 400;
  font-size: 25px;
  color: #363b3a;
  padding-top: 10px;
  margin-top: 0;
  margin-bottom: 13px;
  display: inline-block;
}
@media (min-width: 768px) {
  section.intro h3 {
    font-size: 25px;
  }
}
section.intro ul {
  padding-top: 10px;
  list-style-type: none;
}
section.intro ul li {
  display: inline;
}
section.intro ul li a {
  color: #aa4b77;
  transition: color 0.3s ease-out;
}
section.intro ul li a:focus, section.intro ul li a:hover, section.intro ul li a:active {
  color: #e33258;
}
section.about {
  background-color: #a4b5bf;
  background-image: url("https:/");
  color: #fefdeb;
  font-family: 'Courgette', cursive;
}
section.about p {
  font-size: 20px;
  font-weight: 400;
  line-height: 1.4;
}
section.about blockquote {
  font-weight: 800;
}
section.about .icons {
  padding-top: 100px;
  padding-bottom: 100px;
  font-size: 40px;
}
section.about .icons .icons_ul {
  list-style-type: none;
  padding-top: 15px;
  padding-bottom: 20px;
  margin: 0 10px 0 0;
}
section.about .icons .icons_ul li {
  display: inline;
}
section.work {
  background-color: #9de0ad;
  background-image: url("https://");
}
section.work h2 {
  margin-top: 20px;
  margin-bottom: 40px;
  font-weight: 700;
  text-transform: uppercase;
  font-family: "Orbritron", cursive;
}
section.work .project {
  width: 100%;
  height: 250px;
  position: relative;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  margin-bottom: 40px;
}
section.work .overlay {
  display: table;
  position: absolute;
  height: 100%;
  width: 100%;
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
  background-color: rgba(3, 3, 3, .3);
  overflow: hidden;
  z-index: 10;
  transition: opacity 0.5s ease-out;
}
section.work .overlay h4 {
  display: table-cell;
  vertical-align: middle;
  text-align: center;
  text-transform: uppercase;
  font-family: "Cantarell", sans-serif;
  font-size: 20px;
  font-weight: 800;
  color: #cdd7c6;
}
